.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  background-color: var(--color-primary);
  box-shadow: 0px -3px 8px 2px;
}

.header nav {
  display: flex;
}

.header nav a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.header nav a + a {
  margin-left: 16px;
}

.header nav a.headerLinkActive {
  color: var(--color-accent);
}
